.section {
	position: relative;
	z-index: 1;
	h2 {
		position: relative;
		font-weight: bold;
		font-size: calc(1rem + 5.5vw);
		z-index: 2;
		color: $black;
	}
	&-work {
		background: $secondary;
	}
	&-contact,
	.testimonial-container {
		background: $primary;
	}
}

.section-about {
	font-size: 2.4rem;
	font-size: calc(0.5rem + 2vw);
	line-height: 2;
	em,
	strong {
		color: $primary;

	}
	.wrapper {
		width: 90%;
		max-width: 1700px;
	}
	.bio-container {
		position: relative;
		width: 100%;
		padding: 70px 0;
		background: $black;
		box-shadow: 0 0px 10px #858891;
		text-align: center;
		color: $white;
		.about-link {
			border: 4px solid $accent;
			padding: 0 20px;
			transition: all 0.2s;
			line-height: 1.5;

			&:hover {
				background: $accent;
				cursor: pointer;
			}
		}
		em,
		strong {
			font-size: calc(1.2rem + 2vw);
		}
	}
	.testimonial-container {
		padding: 70px 0;
		.wrapper {
			@include flex(row, center, flex-start, wrap);
		}
	}
	.attribution {
		@include flex(row, flex-start,center,nowrap);
	}
	img {
		width: 50px;
		margin: 0 10px 0 30px;
		border-radius: 50px;
		box-shadow: 0 0px 4px #858891;
	}
	.said-by {
		font-size: 1.4rem;
		font-size: calc(0.2rem + 2vw);
		transform: translateY(4px);
	}
	.testimonial {
		font-style: italic;
		width: calc(50% - 50px);
		margin: 0 25px;
		p {
			position: relative;
			color: $white;
			width: fit-content;
			background: $primary;
			line-height: 2.2;
			margin-top: 10px;
			z-index: 1;

			span {
				box-decoration-break: clone;
				text-align: left;
				padding: 13px 30px 7px;
				background: $black;
				box-shadow: 0 0px 8px #858891;
				z-index: 1;
			}
			&:before {
				z-index: 1;
				content: "";
				position: absolute;
				height: 0;
				top: calc(-25px + 1vw);
				border-style: solid;
				border-width: 25px 0 0 70px;
				border-color: transparent transparent transparent $black;
			}
		}
	}
}

.section-work {
	position: relative;
	box-shadow: 0 3px 10px #858891;
	padding: 40px 0;
	.wrapper {
		@include flex(column, flex-start, center, nowrap);
	}

	h2 {
		align-self: flex-start;
	}
	.work-link {
		background: $accent;
		color: $white;
		padding: 12px 15px 8px;
		margin: 25px 0;
		text-transform: uppercase;
		text-align: center;
		font-size: calc(0.2rem + 1vw);
		font-weight: lighter;
		font-style: italic;
		transition: box-shadow 0.2s;
		&:hover {
			box-shadow: 0 0px 8px #858891;
		}
	}
}

.work-grid {
	margin-top: 10px;
	@include flex(row, center, flex-start, wrap);

	.project-container {
		// for fade in styles
		opacity: 0;
		transform: translateY(10vh);
		transition: opacity 0.6s ease-out, transform 1.2s ease-out;
		// end fade in styles
		z-index: 1;
		margin: 1vw 1.5vw;
		width: calc(25% - 3vw);
		max-width: 300px;
		&.is-visible {
			opacity: 1;
			transform: none;
		}
		a {
			color: $black;
		}

		&:hover img {
			box-shadow: 0 0px 8px #858891;
		}
	}
	img {
		display: inline-block;
		width: 100%;
		height: auto;
		transition: box-shadow 0.2s;
	}
	.info {
		text-transform: capitalize;
		text-align: center;
		font-size: 0.8rem;
		line-height: 1.5;
		h4 {
			width: 100%;
			font-weight: normal;
			font-style: italic;
			color: $black;
		}
	}
}

@keyframes appear {
	from {
		opacity: 0;
		transform: translateY(30px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

.section-project-single {
	h3,
	a {
		font-weight: 300;
		color: #4d4c4c;
		font-style: italic;
	}
}

.section-contact {
	background: $secondary;
	.contact-card {
		position: relative;
		background: $black;
		color: $white;
		padding: 0;
		box-shadow: 0 0px 10px #858891;
		font-size: 2rem;
		.wrapper {
			padding: 100px 0 100px 5%;
			// width: 55%;
			width: 70%;
			height: 100%;
			position: relative;
		}

		h3 {
			position: relative;
			font-size: 3rem;
			font-weight: 400;
			display: inline;
			z-index: 2;
		}
		p {
			position: relative;
			margin-top: 20px;
			z-index: 2;
		}
		a {
			display: inline;
			color: $primary;
			position: relative;
			z-index: 2;
			margin-left: 10px;
		}
		.email-link {
			display: inline-block;
			line-height: 1.5;
			margin-left: 0;
			&:before {
				content: "luke.r.fair@gmail.com \00bb";
				color: $black;
				position: absolute;
				top: 0;
				left: -5px;
				height: 100%;
				width: 0%;
				overflow: hidden;
				background: $primary;
				transition: all 0.3s;
				padding: 0px 5px;
				opacity: 0;
				display: inline-block;
			}
			&:hover {
				&:before {
					width: calc(100% + 37px);
					opacity: 1;
				}
			}
		}
		img {
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
		}
	}
}

.contact-form {
	padding: 40px 0;

	h2 {
		margin-bottom: 40px;
	}
	form {
		position: relative;
		padding: 0 20px;
		@include flex(column, flex-start, flex-start, nowrap);
		input,
		textarea {
			border: 3px solid $black;
			margin: 10px 0;
			background: $white;
			padding: 10px;
			color: $black;
			font-size: 1.2rem;
			&:focus {
				outline: none;
				box-shadow: 0 0 2px 4px $primary;
			}
		}
		input {
			width: 40%;
		}
		textarea {
			width: 100%;
			height: 200px;
		}
		.submit {
			background: $black;
			color: white;
			transition: all 0.2s;
			&:hover {
				background: $primary;
				color: black;
				box-shadow: 0 0px 8px #858891;
				border-color: $primary;
			}
			&:active {
				box-shadow: none;
				background: darken($primary, 5);
				border-color: darken($primary, 5);
			}
			&.success {
				background: $primary;
			}
			&.fail {
				background: $accent;
				border-color: $accent;
				color: $black;
			}
		}
	}
	.email-success,
	.email-fail {
		font-size: 1.2rem;
		opacity: 0;
		position: absolute;
		bottom: 10px;
		font-weight: bold;
		background: $primary;
		padding: 14px;
		left: calc(50% + 20px);
		transition: all 0.2s;
		&.show {
			box-shadow: 0 0px 4px #858891;
			opacity: 1;
			transition: all 0.2s;
		}
	}
	.email-fail {
		background: $accent;
	}
}

footer {
	padding: 10px;
	background: $black;
	color: $primary;
	text-align: center;
	font-size: 1.2rem;
	font-weight: 300;
}
