@media (max-width: 830px) {
	.header-image-container {
		width: 40%;
	}
	h1 {
		font-size: calc(2rem + 3vw);
	}
	.title-container {
		flex-shrink: 1;
	}

	.section-about {
		font-size: calc(0.2rem + 2.3vw);
		// font-size: 1.5rem;
		.bio-container {
			.about-link {
				border: 2px solid #ec3b3b;
				padding: 0 15px;
			}
		}
		.testimonial-container .wrapper {
			justify-content: space-between;
		}
		.testimonial {
			margin: 0;
			width: calc(50% - 10px);
			p {
				line-height: 2.5;
				margin-top: 20px;
			}
		}
		img {
			width: 40px;
			transform: translateY(15px);
		}
	}
}
@media (max-width: 830px) {
	.work-grid {
		.project-container {
			margin: 1.5vw;
			width: calc(50% - 3vw);
		}
		.info {
			font-size: 1rem;
		}
	}
	.section-contact .contact-card .wrapper {
		width: 60vw;
		margin: 0 90vw 0 10vw;
	}
	.contact-form form input {
		width: 50%;
	}
}

@media (max-width: 620px) {
	aside {
		display: none;
	}
	header {
		margin: 0 auto;
		animation: email-load 3s ease;
		.wrapper {
			@include flex(column-reverse);
			width: auto;
		}
		.header-image-container {
			width: 100%;
		}

		.title-container {
			width: auto;
			text-align: center;
			font-size: calc(4rem + 1vw);
			letter-spacing: 2px;
			line-height: 0;
			margin: 40px 0;
		}
	}
	.fixed-email {
		animation: email-load 3s ease forwards;
		bottom: 10px;
	}

	.section-about {
		font-size: calc(0.5rem + 2.3vw);
		.wrapper {
			width: 90%;
		}
		.testimonial-container {
			position: relative;
			width: 100%;
			overflow: hidden;
			.wrapper {
				@include flex(column, center, center, nowrap);
			}
		}
		.said-by {
			font-size: calc(0.8rem + 1.5vw);
		}
		.testimonial {
			position: relative;
			width: 80%;

			p {
				margin-top: 10px;
				width: 100%;
				max-width: 100vw;
			}
			p::before {
				top: calc(-18px + 1vw);
			}
		}
	}

	.section {
		h2 {
			text-align: center;
			width: 100%;
		}
		&-work .work-link {
			font-size: calc(0.5rem + 1vw);
		}
	}

	.section-contact .contact-card .wrapper {
		width: 90%;
		margin: 0 auto;
	}

	.contact-form form {
		input,
		textarea {
			width: 90%;
			margin: 10px auto;
		}
	}
}

@media (max-width: 474px) {
	.section-about {
		font-size: calc(1rem + 2vw);
		line-height: 1.5;
	}
	.section-about .testimonial p::before {
		top: calc(-12px + 1vw);
	}
	.about-link {
		transform: translateY(28px);
	}
	.work-grid .project-container {
		width: 70%;
	}
	.work-grid .info {
		font-size: 1.2rem;
	}
	.section-contact {
		.contact-card {
			padding: 60px 0;
			text-align: center;

			.email-link:hover::before {
				display: none;
			}
		}
		img {
			opacity: 0.7;
		}
	}
}

@media (max-width: 400px) {
	.section h2 {
		font-size: calc(0.8rem + 5vw);
	}
	.section-work .work-link {
		width: 70%;
		padding: 10px;
		font-size: 0.7rem;
		font-weight: normal;
	}
	.section-contact .contact-card {
		font-size: 1.5rem;
	}
	footer a {
		width: 60%;
		max-width: 200px;
	}
}
